  <li>
    <a href="https://www.researchgate.net/profile/Fabrice_Jumel" itemprop="sameAs">
      <i class="fa fa-graduation-cap" aria-hidden="true"></i> Researchgate 
    </a>
    <a href="https://www.cpe.fr" itemprop="sameAs">
      <i class="fa fa-institution" aria-hidden="true"></i> CPE Lyon
    </a>
    <a href="http://www.citi-lab.fr/" itemprop="sameAs">
      <i class="fa fa-industry" aria-hidden="true"></i>  Labo. CITI-Inria
    </a>
    <a href="https://team.inria.fr/chroma/en/" itemprop="sameAs">
      <i class="fa fa-reddit-alien" aria-hidden="true"></i> Inria Chroma Team
    </a>
  </li>
