  <li>
    <!-- <a href="http://lyon-university.org/" itemprop="sameAs">
      <i class="fa fa-institution" aria-hidden="true"></i> Université de Lyon
    </a> -->
    <a href="https://www.cpe.fr" itemprop="sameAs">
      <i class="fa fa-institution" aria-hidden="true"></i> CPE Lyon
    </a>
    <a href="https://www.insa-lyon.fr/en/" itemprop="sameAs">
      <i class="fa fa-institution" aria-hidden="true"></i> INSA de Lyon
    </a>
    <a href="https://www.univ-lyon1.fr/en/" itemprop="sameAs">
      <i class="fa fa-institution" aria-hidden="true"></i> UCBL Lyon 1 Univ
    </a>
    
    <a href="http://www.citi-lab.fr/" itemprop="sameAs">
      <i class="fa fa-industry" aria-hidden="true"></i>  Labo. CITI-Inria
    </a>
     </a>
    <a href="https://liris.cnrs.fr/front-page-en?set_language=en" itemprop="sameAs">
      <i class="fa fa-industry" aria-hidden="true"></i>  Labo. LIRIS
    </a>
    
    <a href="https://team.inria.fr/chroma/en/" itemprop="sameAs">
      <i class="fa fa-reddit-alien" aria-hidden="true"></i> Inria Chroma Team
    </a>

    <a href="https://www.palo-it.com/en/" itemprop="sameAs">
      <i class="fa fa-laptop" aria-hidden="true"></i> PALO IT
    </a>

    <a href="https://idiotslab.fr/" itemprop="sameAs">
      <i class="fa fa-rocket" aria-hidden="true"></i> IDIoTsLab
    </a>
  </li>
